# React Native
node_modules/
*.log
*.lock
npm-debug.*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Expo
.expo/
.expo-shared/

# Metro bundler cache
.cache/

# Babel cache
babel.config.js

# macOS system files
.DS_Store

# Android (if using EAS build or detached)
android/
*.keystore

# iOS (if using EAS build or detached)
ios/
Pods/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# Environment files
.env
.env.*

# VSCode
.vscode/

# fastlane (if using for builds/deployment)
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
coverage/
web-build/
*.tgz
